/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  /* Colors */
  --color-brand-navy: #1A2A3A;
  --color-brand-cream: #F5F2EA;
  --color-brand-gold: #C3A343;
  --color-brand-gray: #8C8C8C;

  /* Fonts */
  --font-playfair: "Playfair Display", serif;
  --font-source: "Source Sans Pro", system-ui;
}